@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  height: 100vh;

  margin: 0;
}

i.fas {
  position: absolute;
  padding: 40px;
  z-index: 300;
  top: 20px;
  cursor: pointer;
  transition: 0.4s ease;
}
i.ham,
i.cross {
  transition: 0.4s ease;
}
i.cross.hide {
  display: none;
}
i.ham.hide {
  display: none;
}

.menu {
  height: 100vh;
  width: 0vw;
  background-color: antiquewhite;
  transition: 0.4s ease;
}
.menu ul {
  display: none;
}
.menu.open {
  left: 10px;
  width: 30vw;
  transition: 0.4s ease;
}
menu.open ul {
  position: absolute;
  top: 200px;
}
